{{ partial "header.html" . }}

<body class="show">

{{ partial "nav.html" . }}

<article id="show-main">
  <header class="special container">
    <h2>{{ .Title }}</h2>
    <p>with {{ .Render "guest-names" }}</p>
    <img class="show-image" src="{{ .Site.Params.cdnpath }}/images/{{ .Params.image }}" alt="" />
  </header>

  <section class="wrapper style4">

    {{ .Content }}

  </section>

  <section class="comments">
    {{ template "_internal/disqus.html" . }}
  </section>
</article>

{{ partial "footer.html" . }}
