<section class="show-summary">
  <div class="row">

  <div class="4u 12u(2)">
    <a class="show-image-link" href="{{ .Permalink }}">
    <img class="show-image" src="{{ .Site.Params.cdnpath }}/images/{{ .Params.image }}" alt="" />
  </a>
</div>
  <div class="8u 12u(2)">
  <header>
    <a href="{{ .Permalink }}">
      <h3>{{ .Title }}</h3>
      <p>with {{ .Render "guest-names" }}
      </p>
    </a>
  </header>
  <p>{{ .Description }}</p>
  <audio src="{{ .Site.Params.cdnpath }}/shows/{{ .Params.audiourl }}" controls>
    Your browser isn't happy with the audio player, you're just going to have to <a href="{{ .Site.Params.cdnpath }}/shows/{{ .Params.audiourl }}">download it</a>.
  </audio>
  <p><a href="{{ .Site.Params.cdnpath }}/shows/{{ .Params.audiourl }}">Download</a></p>
  </div>
</div>
</section>
