{{ partial "header.html" . }}

<body class="index"
      itemscope
      itemtype="http://schema.org/RadioSeries">

  {{ partial "nav-banner.html" . }}

  <!-- Banner -->
  <section id="banner">

    <div class="inner">
      <header>
        <img src="{{ .Site.Params.cdnpath }}/images/fsharp-show-logo.png"
             alt="The F# Show"
             itemprop="name">
      </header>
      <footer>
        <ul class="buttons vertical">
          <li><a href="#latest-shows" class="button fit scrolly">Latest show</a></li>
        </ul>
      </footer>
    </div>

  </section>

  <!-- Main -->
  <article id="main">

    <section class="special container">
      <header class="special">
        <span class="icon fa-microphone"></span>
        <h2>A podcast dedicated to <strong>F#</strong></h2>
        <p>Now you can experience <strong>F#</strong> in the car, on your bike and in the shower.</p>
        <p>
          Hosted by <a href="{{ .Site.Params.hostsurl }}">{{ .Site.Params.hostsname }}</a>
        </p>
      </header>

      {{ partial "social.html" . }}

    </section>

    <!-- Shows -->
    <section class="wrapper style3 special"
             id="latest-shows">

      <header class="major">
        <h2>The latest <strong>show</strong></h2>
      </header>

      {{ range where .Data.Pages "Section" "shows" | first 4 }}

        <div class="show-summary-front">
            {{ .Render "summary" }}
        </div>

      {{ end }}

      <!-- Don't need this yet, too few shows -->
      <!-- <footer class="major">
        <ul class="buttons">
          <li><a href="/shows" class="button">See More</a></li>
        </ul>
      </footer> -->

    </section>

  </article>

  <!-- CTA -->
  <section id="cta">
    <header>
      <h2>Thanks for <strong>listening</strong>!</h2>
    </header>
  </section>

  {{ partial "footer.html" . }}
